.content_container{
    width: 100%;
    height: 100%;
    background-color: #252935;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    .content_title{
        color: #FFFFFF;
    }
    .toolBar{
        width: 100%;
        height: 40px;
        background-color: #FFFFFF;
        margin: 10px 0px;
        padding: 0px 10px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        .searchBar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .adminAccs-searchInput{
                width: 500px;
            }
            input{
                height: 25px;
                min-width: 150px;
                border-radius: 10px;
                outline: none;
                border:none;
                background-color: #e6e6ec;
                padding: 10px;
            }
            label{
                line-height: 25px;
            }
            .searchBtn{
                width: 100px;
                height: 25px;
                background-color: #3648E7;
                border-radius: 8px;
                color: #FFFFFF;
                border: none;
                z-index: 10;
                cursor: pointer;
            }
            .paginationBar{
                display: flex;
                justify-content: center;
            }
        }
    }
    .content_table{
        background-color: #FFFFFF;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(224, 224, 224);
        border-collapse: collapse;
        overflow: hidden;
        width: 100%;
        min-height: 80vh;
        font-size: 13px;
        thead{
            height: 30px;
        }
        tbody{
            text-align: center;
            .user_item{
                &:hover{
                    background-color: #dfdff8;
                }
                td{
                    padding: 5px;
                }
            }
            .btnBar{
                width: 320px;
                padding: 5px 0px;
                button{
                    font-size: 10px;
                    width: 85px;
                    height: 23px;
                    margin: 5px 5px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    color: #FFFFFF;
                    cursor: pointer;
                    &:hover{
                        color: rgb(141, 214, 245);
                    }
                }
            }
        }
        tfoot{
            height: 30px;
            text-align: center;
        }
    }
}

//Thay đổi chức vụ
.editPermiss_container{
    position: fixed;
    box-shadow: 3px 5px 5px black;
    width: 380px;
    height: 160px;
    border-radius: 10px;
    background-color: #FFFFFF;
    top: 16%;
    left: 45%;
    transform: translate(200px , 200px) scale(0);
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 20;
    font-size: 15px;
    p{
        margin: 5px 0px;
    }
    .permis_selector{
        padding: 5px;
        margin: 10px 0px;
        border-radius: 5px;
        border-color: #bbbcc0;
        font-size: 13px;
        cursor: pointer;
        outline: none;
    }
    &.active{
        opacity: 1;
        transform: translate(0px , 0px) scale(1);
        pointer-events: all;
    }
    .permis_btnBox{
        display: flex;
        justify-content: end;
        margin: 5px 0px;
        button{
            width: 100px;
            height: 25px;
            background-color: #2E2D32;
            color: #F9F8FD;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}