
.slide_container{
    position: relative;
    .slideImg{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .bannerSlogan{
        position: absolute;
        z-index: 10;
        font-family: $mainBannerFont;
        font-size: 25px;
        font-weight: 900;
        top: 35%;
        left: 100px;
        pointer-events: none;
        background-color: #01081061;
        padding: 25px;
        border-radius: 20px;
        color: #FFFFFF;
        &.banner2{
            left: auto;
            right: 100px;
            p{
                position: relative;
                width: 400px;
                left: 50px;
                text-align: right;
            }
        }
        &.banner3{
            top:20%;
            left: auto;
            right: 200px;
            p{
                width: 400px;
            }
        }
        &.banner4{
            left:auto;
            right: 150px;
        }
        h1{
            font-size: 50px;
        }
        p{
            width: 280px;
        }
    }
    .bannerBtn{
        position: absolute;
        top :45%;
        right: 150px;
        &.banner2{
            right: auto;
            left: 150px;
        }
        &.banner3{
            top: 70%;
            right: 250px;
            z-index: 100;
        }
        &.banner4{
            top: 55%;
            right: 200px;
            z-index: 100;
        }
        button{
            padding: 25px 40px;
            background-color: #010810;
            color: #FFFFFF;
            transition: 0.5s;
            border: none;
            border-radius: 15px;
            box-shadow: #010810 0px 0px 15px;
            &:hover{
                box-shadow: #FFFFFF 0px 0px 15px;
            }
        }
    }
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    .header_carousel{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FF385C;
    }
    .header_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        color: $font_color;
        z-index: 1;
        transition: all 1s;
        .header_top_left{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 100%;
            .logo{
                height: 60%;
            }
        }
        .header_top_middle{
            display: flex;
            justify-content:start;
            align-items: center;
            flex: 2;
            height: 100%;
            font-size: $font_m;
            font-family: $bannerFont;
            column-gap: 20px;
            .nav{
                overflow: hidden;
                cursor: pointer;
                .navLine{
                    background-color: black;
                    border-radius: 15px;
                    width: 100%;
                    height: 3px;
                    transform: translateX(-100%);
                    transition: all 0.5s;
                    z-index: 3;
                }
                &:hover{
                    .navLine{
                        transform: translateX(0)
                    }
                }
            }
        }
        .header_top_right{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            .languageBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                .languageIcon{
                    font-size: $font_l;
                    cursor: pointer;
                }
                .langMenu_dropDown{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 120px;
                    height: auto;
                    top:12%;
                    right:15%;
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    opacity:0;
                    overflow: hidden;
                    transition: all 0.5s;
                    transform: translateY(-10px);
                    pointer-events: none;
                    &.active{
                            opacity:1;
                            transform: translateY(0px);
                            pointer-events: all;
                    }
                    span{
                        padding: 15px;
                        cursor: pointer;
                        &:hover{
                            background-color: #FF385C;
                        }
                    }
                }
            }
            .accountMenu{
                display: flex;
                align-items: center;
                background-color: transparent;
                width: 100px;
                height: 100%;
                cursor: pointer;
                &.active{
                    .accountMenu_dropDown{
                        width: 350px;
                        transform: translateY(0px);
                        opacity: 1;
                        pointer-events: all;
                    }
                }
                .accountMenu_btn{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 100px;
                    border: 2px #010810 solid;
                    width: 100%;
                    height: 50px;
                    .menuIcon{
                        font-size: $font_l;
                    }
                    .userAvatar{
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }
                .accountMenu_dropDown{
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    position: absolute;
                    width: 200px;
                    height: auto;
                    margin: 15px;
                    top:12%;
                    right:8%;
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    pointer-events: none;
                    overflow: hidden;
                    transform: translateY(-10px);
                    transition: all 0.5s;
                    &.active{
                        opacity:1;
                        transform: translateY(0px);
                        pointer-events: all;
                        span{
                            padding: 15px;
                            cursor: pointer;
                            &:hover{
                                background-color: #FF385C;
                                color: #FFFFFF;
                            }
                        }
                    }
                    span{
                        padding: 15px;
                        cursor: pointer;
                        &:hover{
                            background-color: #FF385C;
                            color: #FFFFFF;
                        }
                    }
                    :first-child{
                        background-color: #01081048;
                        cursor:auto;
                    }
                }
            }
        }
    }
}
.cartEmpty{
    width: 100%;
    object-fit: cover;
}
.cartItem{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    row-gap: 20px;
    border-bottom: #010810 1px solid;
    .cartItemPic{
        width: 60px;
        height: 60px;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        
        line-height: 5px;
        height: 80px;
        .adjustBtn{
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 11px;
            text-align: center;
            border-radius: 5px;
            border: #010810 1px solid;
            background-color: #010810;
            color: #FFFFFF;
            margin: 0px 10px;
            cursor: pointer;
            &:active{
                color: orange;
            }
        }
    }
    .removeBtn{
        padding: 5px 15px;
    }
}
.cartFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    label{
        width: 50%;
    }
}
.paymentBtn{
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 0px 10px;
}