

header{
    position: relative;
    .header_background{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 0px 80%;
        position: absolute;
    }
    .header_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        backdrop-filter: blur(5px);
        transition: all 1s;
        &:hover{
            background-color: black;
        }
        .header_top_left{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 100%;
            .logo{
                height: 80%;
            }
        }
        .header_top_middle{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 2;
            height: 100%;
            color: #FFFFFF;
            font-size: $font_l;
            font-family: $navbarFont;
            .nav{
                overflow: hidden;
                cursor: pointer;
                .navLine{
                    background-color: #FFFFFF;
                    border-radius: 15px;
                    height: 3px;
                    transform: translateX(-100%);
                    transition: all 0.5s;
                }
                &:hover{
                    .navLine{
                        transform: translateX(0)
                    }
                }
            }
        }
        .header_top_right{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            .languageBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                .languageIcon{
                    font-size: $font_l;
                    color: #FFFFFF;
                    cursor: pointer;
                }
                .langMenu_dropDown{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 120px;
                    height: auto;
                    top:70%;
                    right:15%;
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    opacity:0;
                    overflow: hidden;
                    transition: all 0.5s;
                    transform: translateY(-10px);
                    pointer-events: none;
                    &.active{
                            opacity:1;
                            transform: translateY(0px);
                            pointer-events: all;
                    }
                    span{
                        padding: 15px;
                        cursor: pointer;
                        &:hover{
                            background-color: #FF385C;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .accountMenu{
                display: flex;
                align-items: center;
                background-color: transparent;
                width: 100px;
                height: 100%;
                cursor: pointer;
                &.active{
                    .accountMenu_dropDown{
                        transform: translateY(0px);
                        opacity: 1;
                        pointer-events: all;
                    }
                }
                .accountMenu_btn{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 100px;
                    border: 2px #FFFFFF solid;
                    width: 100%;
                    height: 50px;
                    .menuIcon{
                        font-size: $font_l;
                        color: #FFFFFF;
                    }
                    .userAvatar{
                        width: auto;
                        height: 80%;
                        border-radius: 50%;
                    }
                }
                .accountMenu_dropDown{
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    position: absolute;
                    width: 180px;
                    height: auto;
                    margin: 15px;
                    top:65%;
                    right:8%;
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    pointer-events: none;
                    overflow: hidden;
                    transform: translateY(-10px);
                    transition: all 1s;
                    &.active{
                        opacity:1;
                        transform: translateY(0px);
                        pointer-events: all;
                    }
                    span{
                        padding: 15px;
                        cursor: pointer;
                        &:hover{
                            background-color: #FF385C;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}