@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
$navbarFont: 'Signika', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Rowdies:wght@300;400;700&display=swap');
$bannerFont: "Rowdies", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,900;1,900&display=swap');
$mainBannerFont:"Noto Sans", sans-serif;